.header{
  line-height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .social{
    width:165px;
  }

  &__logo{
    color:$white;
    font-size: 36px;
    font-weight: 800;
    cursor: default;
  }

}