.header{
  line-height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menu{
    padding: 0 10px;
  }

  .social{
    width:14%;
    min-width: 95px;
  }

  @include tablets{
    .menu{
      display: none;
    }

    .social{
      margin-right: 115px;
    }
  }

  @include phones{
    .social{
      display: none;
    }
  }
}