.menu {
  width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $white;

  &-item{
    cursor: pointer;
    transition: .3s;
    &:hover{
      color: $orange;
    }
  }
}