.menu {
  width: 100%;
  max-width: 690px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: $white;

  &__item{
    cursor: pointer;
    transition: .3s;
    &:hover{
      color: $orange;
    }
  }
}