.hero{
  padding-top: 62px;
  height: 100vh;
}
  
.owner{
  margin-top: 45vh;
  display: flex;
  flex-direction: row;
  margin-left: 16.7%;

  &__desc{
    font-size: 18px;
    width: 180px;
    text-align: right;
    color: $white;
    opacity: .4;
    font-weight: 600;
  }

  &__title{
    margin-left: 60px;
    font-size: 72px;
    color: $white;
    font-weight: 800;
    width: 500px;
    line-height: 60px;
  }
}  