.autumn-section{
  background-image: linear-gradient( to right, rgba(34, 36, 37, .9) 0%,rgba(34, 36, 37, .9) 65%, rgba(34, 36, 37, .5) 100%), url('../images/content/comments-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}