footer.footer
  .container.footer__container
    .footer__left
      .footer__left-year © 2019
      h6.footer__left-author андрей мартемьянов
      p.footer__left-desc Личный сайт веб-разработчика
    .footer__right
      include ../menu
      .footer__right-content
        .left
          p.left-desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
          .left-social
            include ../social
        .right
          p.right-desc Всегда пишите код так, будто сопровождать его бдует склонный к насилию психопат, который знает где вы живете
          .right-designer Martin Golding