section.about
  a(name="sec2")#sec2
  .container.about__container
    .about-items
      .about__info
        +image('content/author.png', 'about__info-photo')
        table.about__info-table
          tr
            td.about__info-item Проживаю: 
            td.about__info-desc Воронеж
          tr
            td.about__info-item Возраст:
            td.about__info-desc 26 лет
          tr
            td.about__info-item Родился:
            td.about__info-desc 28 сентября 1993

      .about__desc
        p.about__desc-text.paragraph Привет, меня зовут
        h3.about__desc-title Андрей Мартемьянов
        p.about__desc-text.paragraph  Я занимаюсь разработкой соверменных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
        p.about__desc-text.about__desc-text--note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!