section.hero
  .container.hero__container
    include ../../header
    .owner
      .owner__desc 
        p.owner__desc-item Личный сайт
        p.owner__desc-item веб разработчика
      h1.owner__title Андрей Мартемьянов
    include ../../scroll

  