.comments-slider
  .slider-head
    h3.comments-slider__title.h3-title Что обо мне говорят
    .comments-slider__arrows
      .slider-arrows.slider-arrows--next
        +icon('arrow-down', 'slider-arrows__item')
      .slider-arrows.slider-arrows--prev.unactive
        +icon('arrow-down', 'slider-arrows__item slider-arrows__item--prev')
  .slider__content
    .slider__content-item
      +icon('quote', 'slider__quote')
      .slider__comment.paragraph
        p Этот парень проходил обучение не где-то, а в LoftSchool!! 4,5 месяца ьтолько самых тяжелых испытаний и бессонных ночей!
      .slider__author
        .slider__author-pic
          +image('content/dmitrij.jpg')
        .slider__author-desc
          .slider__author-name
            h6 Ковальчук Дмитрий
          .slider__author-info
            p Основатель Loftschool
    .slider__content-item
      +icon('quote', 'slider__quote')
      .slider__comment.paragraph
        p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
      .slider__author
        .slider__author-pic
          +image('content/vouwa.jpg')
        .slider__author-desc
          .slider__author-name
            h6 Владимир Сабарцев
          .slider__author-info
            p Преподаватель