script(type="text/x-template")#my-comments
  .comments-slider
    .comments__head
      .comments__title.h3-title Что обо мне говорят
      .comments-slider-controls
        button(
          type="button" 
          @click="previous()" 
          :disabled="currentIndex === 0" 
          :class="{disabled: currentIndex === 0}"
          ).comments-slider-controls__btn.comments-slider-controls__btn--prev
        button(
          type="button" 
          @click="next()" 
          :disabled="reviews.length === currentIndex" 
          :class="{disabled: reviews.length === currentIndex}"
          ).comments-slider-controls__btn.comments-slider-controls__btn--next
    .comments__content
      .reviews-slider(v-if="reviews.length")
          flickity(
            ref="flickity" 
            :options="flickityOptions" 
            @init="onInit")
            div(
              v-for="review in reviews" 
              :key="review.id"
              ).reviews-slider__item.review
              review(
                :review="review"
              )

script(type="text/x-template")#review-template
  .review__item
    .review__text.paragraph
      p {{review.text}}
    .review__author
      .review__author-pic
        img(
          :src="review.avatar" 
          :alt="review.autor"
          ).review__author-img
      .review__author-desc
        .review__author-name {{review.autor}}
        .review__author-position.paragraph {{review.position}}