script(type="text/x-template")#diagram
  ul.diagram
    li.diagram__row(v-for='skill in skills' :key='skill.skillsGroup')
      diagram-row(
        :skill='skill'
      )

script(type="text/x-template")#diagram-row
  .diagram-row
    h5.diagram__title {{skill.skillsGroup}}
    ul.diagram__group
      li.diagram__group-item(v-for='(skillPercent, skillName) in skill.skills' :key='skill.skills')
          skill(
            :skill-name='skillName'
            :skill-percent='skillPercent'
          )

script(type="text/x-template")#skill
  .skill
    svg.percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
      circle(cx="50" cy="50" r="40").circle.circle--under
      circle(cx="50" cy="50" r="40" ref="color-circle").circle.circle--above
    .percentage__name {{skillName}}