ul.menu
  li.menu__item 
    a(href="#") Главная
  li.menu__item 
    a(href="#") Обо нме
  li.menu__item 
    a(href="#") Навыки
  li.menu__item 
    a(href="#") Работы
  li.menu__item 
    a(href="#") Отзывы
  li.menu__item 
    a(href="#") Связаться