.social
  a.social__item(href="https://www.instagram.com/im_marty_mcfly/" target="_blank")
    +icon('insta', 'social__item-link')
  a.social__item(href="http://vk.com/im_marty_mcfly" target="_blank")
    +icon('vk', 'social__item-link')
  a.social__item(href="https://github.com/marty10512" target="_blank")
    +icon('github', 'social__item-link')