script(type="text/x-template")#my-works
  .works-slider
    display(
      :works="works"
      :current-work="currentWork"
      :current-index="currentIndex"
      @slide="handleSlide"
      @dot="changeWork"
    )
    info(
      :current-work="currentWork"
    )
    

script(type="text/x-template")#works-display
  .slider-left
    .slider__item(:data-slide="currentIndex + 1")
      img(:src="currentWork.photo").slider__item-pic
    dots(
      :works="works"
      :current-work="currentWork"
      @dot="$emit('dot', $event)"
    )
    arrows(
      @slide="$emit('slide', $event)"
    )

script(type="text/x-template")#works-dots
  ul.dots
      li.dots__item(
        v-for="work in works"
        :key="work.id"
        :class="{active: work.id === currentWork.id }"
        @click.prevent="$emit('dot', work.id)"
        )
        img(:src="work.photo" alt="").dots__item-pic

script(type="text/x-template")#works-arrows
  .arrows
      button(@click.prevent="$emit('slide', 'next')").slider-arrows.slider-arrows--next
        +icon('arrow-down', 'slider-arrows__item')
      button(@click.prevent="$emit('slide', 'prev')").slider-arrows.slider-arrows--prev
        +icon('arrow-down', 'slider-arrows__item slider-arrows__item--prev')

script(type="text/x-template")#works-info
  .slider-right
      .slider__desc
        tags(
          :tags="tagsArray"
        )
        .slider__desc-title
          h4 {{currentWork.title}}
        .slider__desc-info
          p {{currentWork.desc}}
        a.slider__desc-link(
          target="_blank" 
          :href="currentWork.link"
          ) Посмотреть сайт
          +icon('link', "slider__desc-link-pic")

script(type="text/x-template")#works-tags
  ul.slider__desc-tags
    li.slider__desc-tags-item(
      v-for="tag in tags"
      :key="tag"
      ) {{tag}}
