.about__content{
  margin-top: 60px;
}

.content-list{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  justify-items: stretch;
  align-items: strech;
  ::-webkit-input-placeholder{
    color: #b8bcc5;
  } 
  @include phones {
    grid-template-columns: 1fr;
  }
}