section.hero
  .container
    header.header
      h2.header__logo МА
      include ../menu
      include ../social
    .owner
      .owner__desc 
        .owner__desc-item Личный сайт
        .owner__desc-item веб разработчика
      h1.owner__title Андрей Мартемьянов
    include ../scroll

  