.parallax
  .parallax__layer(data-speed="0")
    +image('content/parallax/1.png', 'parallax__img')
  .parallax__layer(data-speed=".3")
    +image('content/parallax/2.png', 'parallax__img')
  .parallax__layer
    .parallax__title
      h1.owner__title Андрей Мартемьянов
  .parallax__layer(data-speed=".4")
    +image('content/parallax/3.png', 'parallax__img')
  .parallax__layer(data-speed=".8")
    +image('content/parallax/4.png', 'parallax__img')
  .parallax__layer
    +image('content/parallax/5.png', 'parallax__img')
  .parallax__layer
    +image('content/parallax/6.png', 'parallax__img')