include ./pug/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Andrey Martemyanov Portfolio
  body
    .wrapper
      .maincontent
        include ./pug/hamburger
        include ./pug/hero/hero
        include ./pug/about/about
        include ./pug/skills/skills
        include ./pug/works/works
        .autumn-section
          include ./pug/autumn-section/comments/comments
          include ./pug/autumn-section/contacts/contacts
        include ./pug/footer/footer