

.admin-panel{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 80px 1fr;
  background-color: #f7f9fe;
  padding-bottom: 31px;
}

.btn{
  background: linear-gradient(90deg, #1459e2, #3f35cb);
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: .3s;
}
  
